@model IEnumerable<MasProjekt.Oferta_cukiernik>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dominujace_smaki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Podwykonawca.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dominujace_smaki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Podwykonawca.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Oferta_cukiernik_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Oferta_cukiernik_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Oferta_cukiernik_ID })
        </td>
    </tr>
}

</table>
