@model MasProjekt.Oferta_catering

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oferta_catering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilosc_dan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc_dan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Podwykonawca.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Podwykonawca.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Oferta_catering_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
