@model IEnumerable<MasProjekt.Osoba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konsultant.Data_zatrudnienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konsultant.Prowizja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Konsultant.Data_zatrudnienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Konsultant.Prowizja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Osoba_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Osoba_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Osoba_ID })
        </td>
    </tr>
}

</table>
