@model MasProjekt.Umowa

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_podpisania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_podpisania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena_calkowita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena_calkowita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_Status_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wesele_Wesele_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wesele.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient_Osoba_Osoba_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Nazwisko)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Umowa_ID1 }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
