@model IEnumerable<MasProjekt.Umowa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_podpisania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena_calkowita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_Status_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wesele_Wesele_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klient_Osoba_Osoba_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_podpisania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena_calkowita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wesele.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Umowa_ID1 }) |
            @Html.ActionLink("Wylicz cenę", "Details", new { id=item.Umowa_ID1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Umowa_ID1 })
        </td>
    </tr>
}

</table>
