@model MasProjekt.Szablon_uroczystości

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz usunąć ten szablon?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oferta_catering.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta_catering.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oferta_cukiernik.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta_cukiernik.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oferta_kwiaciarnia.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta_kwiaciarnia.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
