@model IEnumerable<MasProjekt.Szablon_uroczystości>

@{
    ViewBag.Title = "Index";
}

<h2>Szablony uroczystości</h2>

<p>
    @Html.ActionLink("Stwórz własny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oferta_catering_Oferta_catering_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oferta_cukiernik.Oferta_cukiernik_Oferta_cukiernik_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oferta_kwiaciarnia_Oferta_kwiaciarnia_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta_catering.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta_cukiernik.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta_kwiaciarnia.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Szablon_uroczystości_ID }) |
            @Html.ActionLink("Wylicz cenę", "Details", new { id=item.Szablon_uroczystości_ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Szablon_uroczystości_ID })
        </td>
    </tr>
}

</table>

<center>
    <br />
    <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Lokalizacjas")';return false;">Przeglądaj lokalizacje</button>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Weseles")';return false;">Utwórz wesele!</button>
</center>

